################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimCoRetailManager/packages/bootstrap.3.4.1
/TimCoRetailManager/TRM DataManager/Content
/TimCoRetailManager/TRM DataManager/Scripts
/TimCoRetailManager/packages/jQuery.3.5.1
/TimCoRetailManager/packages/jQuery.Validation.1.19.2/Content/Scripts
/TimCoRetailManager/packages/jQuery.Validation.1.19.2
/TimCoRetailManager/TRM DataManager/App_Data
