################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimCoRetailManager/packages/bootstrap.3.4.1
